<div class="card-body">
  <div *ngIf="isSignedUp">
    Your registration is successful. Please login!
  </div>
  <ng-container *ngIf="!isSignedUp">
    <h4 class="card-title">Register</h4>
    <form name="form" (ngSubmit)="onSubmit()" #f="ngForm" class="login-validation" novalidate="">
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" type="text" class="form-control" name="name" [(ngModel)]="registerForm.name" required autofocus>
        <div class="invalid-feedback">
          What's your name?
        </div>
      </div>

      <div class="form-group">
        <label for="email">E-mail</label>
        <input id="email" type="email" class="form-control" name="email" [(ngModel)]="registerForm.email" required>
        <div class="invalid-feedback">
          Your email is invalid
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input id="password" type="password" class="form-control" name="password" [(ngModel)]="registerForm.password" required data-eye>
        <div class="invalid-feedback">
          Password is required
        </div>
      </div>

      <div class="form-group m-0">
        <button type="submit" class="btn btn-primary btn-block" [disabled]="f.form.invalid">Register</button>
      </div>
      <div class="mt-4 text-center">
        Already have an account? <a [routerLink]="['/auth/login']">Login</a>
      </div>
    </form>
  </ng-container>
</div>
        