<section class="h-100">
  <div class="container h-100">
    <div class="row justify-content-md-center h-100">
      <div class="card-wrapper">
        <div class="card fat">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</section>
    