<div class="container-fluid">
  <div class="row">
    <div class="col-md-3" *ngFor="let shop of shops">
      <div class="card shadow-sm">
        <img [src]="shop.image" class="mh-100 card-img-top" [alt]="shop.title">
        <div class="card-body">
          <h5 class="card-title">{{shop.title}}</h5>
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-danger" (click)="dislike(shop.id)">Dislike</button>
            <button type="button" class="btn btn-sm btn-outline-success" (click)="like(shop.id)">Like</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>