<div class="card-body">
  <h4 class="card-title">Login</h4>
  <div *ngIf="isLoginFailed" class="alert alert-danger" role="alert">
    Login faild !
  </div>
  <form name="form" (ngSubmit)="onSubmit()" #f="ngForm" class="login-validation" novalidate="">
    
    <div class="form-group">
      <label for="email">E-Mail Address</label>
      <input id="email" type="email" class="form-control" name="email" [(ngModel)]="loginForm.username" required autofocus>
      <div class="invalid-feedback">
        Email is invalid
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" type="password" class="form-control" name="password" [(ngModel)]="loginForm.password" required data-eye>
        <div class="invalid-feedback">
          Password is required
        </div>
    </div>

    <div class="form-group m-0">
      <button type="submit" class="btn btn-primary btn-block" [disabled]="f.form.invalid">Login</button>
    </div>
    <div class="mt-4 text-center">
      Don't have an account? <a [routerLink]="['/auth/register']">Register</a>
    </div>
  </form>
</div>
