<div class="page-wrapper">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a [routerLink]="['/shops']" class="nav-item nav-link py-0" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Nearby shops</a>
          <a [routerLink]="['/shops/preferred-list']" class="nav-item nav-link py-0"routerLinkActive="active">My preferred shops</a>
        </div>
        <div class="navbar-nav">
          <a class="nav-item nav-link py-0" (click)="logout()" href="javascript:;">Logout</a>
        </div>
      </div>
    </nav>
  <!-- BEGIN HEADER -->
  <div class="page-header navbar navbar-fixed-top">
  </div>
  <!-- END HEADER -->
  <!-- BEGIN HEADER & CONTENT DIVIDER -->
  <div class="clearfix"> </div>
  <!-- END HEADER & CONTENT DIVIDER -->
  <!-- BEGIN CONTAINER -->
  <div class="page-container">
    <div class="page-content-wrapper">
      <!-- BEGIN CONTENT BODY -->
      <div class="page-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>